*{
    font-family: 'Poppins', sans-serfie;
  }
  html {
    height: 100%;
    width: 100%;
  }
  
  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    box-sizing: border-box;
  }
  .card{
    align-items: center;
    max-width: 40vw;
    background: linear-gradient(135deg, #00feba, #5b548a);
    border-radius: 20px;
    padding: 2vw 3vw;
  }
  .header{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
  }
  .header input{
    height: 5vh;
    background: #ebfffc;
    max-width: 70%;
    border: none;
    outline: 0;
    border-radius: 2rem;
    padding: 1vh;
    margin: 0 1vw;
    flex: 1;
  }
  .header button{
    height: 5vh;
    width: 5vh;
    border: none;
    border-radius: 50%;
    background: #fff;
    color: #222;
    cursor: pointer;
  }
  #error{
    display: none;
  }
  .container{
    margin-top: 9vh; 
    text-align: center;
  }
  .container i{
    font-size: 8vw;
  }
  
  p{
    color: #fff;
    font-size: 1.2vw;
    text-align: center;
    margin-top: 4vh;
  }
  #temp, #city{
    font-size: 2vw;
  }
  .details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-top: 6vh;
  }
  .col{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .wind{
    color:white;
    padding-right: 7vw;
  }
  .details i{
    color: white;
    font-size: 3vw;
    margin-right: 1vw;
  }
  .details p{
    margin: 0;
    
  }
  .humidity{
    color:white;
  }

  #error{
    text-align: center;
    font-size: 2vw;
  }